In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [144]:
headers = {'User-Agent': 'Mozilla/5.0'}
url = 'https://en.wikipedia.org/wiki/List_of_highest-grossing_films'
response = requests.get(url, headers=headers)
if response.status_code == 200:
    page = BeautifulSoup(response.content, "html")

In [145]:
table = page.find('table', {'class': 'wikitable sortable plainrowheaders sticky-header col4right col5center col6center'})

In [146]:
films = []
film_links = {}

films_idx = 0
for tr in table.select('tr')[1:]:
    td = tr.select('td')
    title = tr.select_one('th')
    data = {
        'title': title.text[:-1],
        'year': td[3].text[:-1],
        'director': '',
        'box_office': 0,
        'box_office_currency': '',
        'country': ''
    }
    
    link = title.select_one('a')['href']
    film_links[films_idx] = link
    
    films.append(data)
    films_idx += 1

In [147]:
films

[{'title': 'Avatar',
  'year': '2009',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Avengers: Endgame',
  'year': '2019',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Avatar: The Way of Water',
  'year': '2022',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Titanic',
  'year': '1997',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Star Wars: The Force Awakens',
  'year': '2015',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Avengers: Infinity War',
  'year': '2018',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Spider-Man: No Way Home',
  'year': '2021',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Inside Out 2',
  'year': '2024',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Jurassic World',
  'year': '2015',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Ne Zha 2 †',
  'year': '2025',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'The Lion King',
  'year': '2019',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'The Avengers',
  'year': '2012',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Furious 7',
  'year': '2015',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Top Gun: Maverick',
  'year': '2022',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Frozen 2',
  'year': '2019',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Barbie',
  'year': '2023',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Avengers: Age of Ultron',
  'year': '2015',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'The Super Mario Bros. Movie',
  'year': '2023',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Black Panther',
  'year': '2018',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Harry Potter and the Deathly Hallows – Part 2',
  'year': '2011',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Deadpool & Wolverine',
  'year': '2024',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Star Wars: The Last Jedi',
  'year': '2017',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Jurassic World: Fallen Kingdom',
  'year': '2018',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Frozen',
  'year': '2013',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Beauty and the Beast',
  'year': '2017',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Incredibles 2',
  'year': '2018',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'The Fate of the Furious',
  'year': '2017',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Iron Man 3',
  'year': '2013',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Minions',
  'year': '2015',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Captain America: Civil War',
  'year': '2016',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Aquaman',
  'year': '2018',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'The Lord of the Rings: The Return of the King',
  'year': '2003',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Spider-Man: Far From Home',
  'year': '2019',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Captain Marvel',
  'year': '2019',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Transformers: Dark of the Moon',
  'year': '2011',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Skyfall',
  'year': '2012',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Transformers: Age of Extinction',
  'year': '2014',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'The Dark Knight Rises',
  'year': '2012',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Joker',
  'year': '2019',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Star Wars: The Rise of Skywalker',
  'year': '2019',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Toy Story 4',
  'year': '2019',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Toy Story 3',
  'year': '2010',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': "Pirates of the Caribbean: Dead Man's Chest",
  'year': '2006',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Rogue One: A Star Wars Story',
  'year': '2016',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Aladdin',
  'year': '2019',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Star Wars: Episode I – The Phantom Menace',
  'year': '1999',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Moana 2 †',
  'year': '2024',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Pirates of the Caribbean: On Stranger Tides',
  'year': '2011',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Jurassic Park',
  'year': '1993',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''},
 {'title': 'Despicable Me 3',
  'year': '2017',
  'director': '',
  'box_office': 0,
  'box_office_currency': '',
  'country': ''}]

In [148]:
film_links

{0: '/wiki/Avatar_(2009_film)',
 1: '/wiki/Avengers:_Endgame',
 2: '/wiki/Avatar:_The_Way_of_Water',
 3: '/wiki/Titanic_(1997_film)',
 4: '/wiki/Star_Wars:_The_Force_Awakens',
 5: '/wiki/Avengers:_Infinity_War',
 6: '/wiki/Spider-Man:_No_Way_Home',
 7: '/wiki/Inside_Out_2',
 8: '/wiki/Jurassic_World',
 9: '/wiki/Ne_Zha_2',
 10: '/wiki/The_Lion_King_(2019_film)',
 11: '/wiki/The_Avengers_(2012_film)',
 12: '/wiki/Furious_7',
 13: '/wiki/Top_Gun:_Maverick',
 14: '/wiki/Frozen_2',
 15: '/wiki/Barbie_(film)',
 16: '/wiki/Avengers:_Age_of_Ultron',
 17: '/wiki/The_Super_Mario_Bros._Movie',
 18: '/wiki/Black_Panther_(film)',
 19: '/wiki/Harry_Potter_and_the_Deathly_Hallows_%E2%80%93_Part_2',
 20: '/wiki/Deadpool_%26_Wolverine',
 21: '/wiki/Star_Wars:_The_Last_Jedi',
 22: '/wiki/Jurassic_World:_Fallen_Kingdom',
 23: '/wiki/Frozen_(2013_film)',
 24: '/wiki/Beauty_and_the_Beast_(2017_film)',
 25: '/wiki/Incredibles_2',
 26: '/wiki/The_Fate_of_the_Furious',
 27: '/wiki/Iron_Man_3',
 28: '/wiki/Minions_(film)',
 29: '/wiki/Captain_America:_Civil_War',
 30: '/wiki/Aquaman_(film)',
 31: '/wiki/The_Lord_of_the_Rings:_The_Return_of_the_King',
 32: '/wiki/Spider-Man:_Far_From_Home',
 33: '/wiki/Captain_Marvel_(film)',
 34: '/wiki/Transformers:_Dark_of_the_Moon',
 35: '/wiki/Skyfall',
 36: '/wiki/Transformers:_Age_of_Extinction',
 37: '/wiki/The_Dark_Knight_Rises',
 38: '/wiki/Joker_(2019_film)',
 39: '/wiki/Star_Wars:_The_Rise_of_Skywalker',
 40: '/wiki/Toy_Story_4',
 41: '/wiki/Toy_Story_3',
 42: '/wiki/Pirates_of_the_Caribbean:_Dead_Man%27s_Chest',
 43: '/wiki/Rogue_One:_A_Star_Wars_Story',
 44: '/wiki/Aladdin_(2019_film)',
 45: '/wiki/Star_Wars:_Episode_I_%E2%80%93_The_Phantom_Menace',
 46: '/wiki/Moana_2',
 47: '/wiki/Pirates_of_the_Caribbean:_On_Stranger_Tides',
 48: '/wiki/Jurassic_Park_(film)',
 49: '/wiki/Despicable_Me_3'}

In [175]:
def extract_from_film_page(link, data) -> bool:
    film_page_resp = requests.get(f'https://en.wikipedia.org{link}', headers=headers)
    if film_page_resp.status_code == 200:
        film_page = BeautifulSoup(film_page_resp.content, 'html')
    else:
        return False
    
    table = film_page.find('table', {'class': 'infobox vevent'})
    for tr in table.select('tr'):
        if tr.select_one('th') == None:
            continue
        th = tr.select_one('th').get_text().strip()
        if th == 'Directed by':
            data['director'] = tr.select_one('td').text.strip()
        elif 'Countr' in th:
            data['country'] = tr.select_one('td').text.strip()  
        elif 'office' in th:
            row = tr.find('td').text.split()
            data['box_office'] = row[0]
            data['box_office_currency'] = row[1]
    return True

In [176]:
for idx, link in film_links.items():
    if extract_from_film_page(link, films[idx]) == False:
        print('Error while parsing in:', idx, link)

In [177]:
films

[{'title': 'Avatar',
  'year': '2009',
  'director': 'James Cameron',
  'box_office': '$2.923',
  'box_office_currency': 'billion[5]',
  'country': 'United Kingdom[2]\nUnited States[2]'},
 {'title': 'Avengers: Endgame',
  'year': '2019',
  'director': 'Anthony RussoJoe Russo',
  'box_office': '$2.799',
  'box_office_currency': 'billion[4]',
  'country': 'United States'},
 {'title': 'Avatar: The Way of Water',
  'year': '2022',
  'director': 'James Cameron',
  'box_office': '$2.320',
  'box_office_currency': 'billion[4][5]',
  'country': 'United States'},
 {'title': 'Titanic',
  'year': '1997',
  'director': 'James Cameron',
  'box_office': '$2.264',
  'box_office_currency': 'billion[7]',
  'country': 'United States'},
 {'title': 'Star Wars: The Force Awakens',
  'year': '2015',
  'director': 'J. J. Abrams',
  'box_office': '$2.07',
  'box_office_currency': 'billion[3]',
  'country': 'United States'},
 {'title': 'Avengers: Infinity War',
  'year': '2018',
  'director': 'Anthony RussoJoe Russo',
  'box_office': '$2.052',
  'box_office_currency': 'billion[4]',
  'country': 'United States'},
 {'title': 'Spider-Man: No Way Home',
  'year': '2021',
  'director': 'Jon Watts',
  'box_office': '$1.953',
  'box_office_currency': 'billion[3][4]',
  'country': 'United States'},
 {'title': 'Inside Out 2',
  'year': '2024',
  'director': 'Kelsey Mann',
  'box_office': '$1.699',
  'box_office_currency': 'billion[3][4]',
  'country': 'United States'},
 {'title': 'Jurassic World',
  'year': '2015',
  'director': 'Colin Trevorrow',
  'box_office': '$1.671',
  'box_office_currency': 'billion[3]',
  'country': 'United States'},
 {'title': 'Ne Zha 2 †',
  'year': '2025',
  'director': 'Jiaozi',
  'box_office': 'US$1.66',
  'box_office_currency': 'billion[2][3]',
  'country': 'China'},
 {'title': 'The Lion King',
  'year': '2019',
  'director': 'Jon Favreau',
  'box_office': '$1.657',
  'box_office_currency': 'billion[5]',
  'country': 'United States'},
 {'title': 'The Avengers',
  'year': '2012',
  'director': 'Joss Whedon',
  'box_office': '$1.521',
  'box_office_currency': 'billion[4]',
  'country': 'United States'},
 {'title': 'Furious 7',
  'year': '2015',
  'director': 'James Wan',
  'box_office': '$1.515',
  'box_office_currency': 'billion[4]',
  'country': 'United States China'},
 {'title': 'Top Gun: Maverick',
  'year': '2022',
  'director': 'Joseph Kosinski',
  'box_office': '$1.496',
  'box_office_currency': 'billion[4][5]',
  'country': 'United States'},
 {'title': 'Frozen 2',
  'year': '2019',
  'director': 'Chris Buck\nJennifer Lee',
  'box_office': '$1.453',
  'box_office_currency': 'billion',
  'country': 'United States'},
 {'title': 'Barbie',
  'year': '2023',
  'director': 'Greta Gerwig',
  'box_office': '$1.446',
  'box_office_currency': 'billion[6][7]',
  'country': 'United States[2][3]\nUnited Kingdom[3]'},
 {'title': 'Avengers: Age of Ultron',
  'year': '2015',
  'director': 'Joss Whedon',
  'box_office': '$1.405',
  'box_office_currency': 'billion[4]',
  'country': 'United States'},
 {'title': 'The Super Mario Bros. Movie',
  'year': '2023',
  'director': 'Aaron Horvath\nMichael Jelenic',
  'box_office': '$1.360',
  'box_office_currency': 'billion[2][3]',
  'country': 'United States'},
 {'title': 'Black Panther',
  'year': '2018',
  'director': 'Ryan Coogler',
  'box_office': '$1.35',
  'box_office_currency': 'billion[4]',
  'country': 'United States'},
 {'title': 'Harry Potter and the Deathly Hallows – Part 2',
  'year': '2011',
  'director': 'David Yates',
  'box_office': '$1.342',
  'box_office_currency': 'billion[4]',
  'country': 'United Kingdom\nUnited States'},
 {'title': 'Deadpool & Wolverine',
  'year': '2024',
  'director': 'Shawn Levy',
  'box_office': '$1.338',
  'box_office_currency': 'billion[3][4]',
  'country': 'United States'},
 {'title': 'Star Wars: The Last Jedi',
  'year': '2017',
  'director': 'Rian Johnson',
  'box_office': '$1.334',
  'box_office_currency': 'billion[3]',
  'country': 'United States'},
 {'title': 'Jurassic World: Fallen Kingdom',
  'year': '2018',
  'director': 'J. A. Bayona',
  'box_office': '$1.31',
  'box_office_currency': 'billion[7]',
  'country': 'China[4]\nUnited States[5]'},
 {'title': 'Frozen',
  'year': '2013',
  'director': 'Chris Buck\nJennifer Lee',
  'box_office': '$1.280',
  'box_office_currency': 'billion[7]',
  'country': 'United States'},
 {'title': 'Beauty and the Beast',
  'year': '2017',
  'director': 'Bill Condon',
  'box_office': '$1.266',
  'box_office_currency': 'billion[3]',
  'country': 'United States'},
 {'title': 'Incredibles 2',
  'year': '2018',
  'director': 'Brad Bird',
  'box_office': '$1.243',
  'box_office_currency': 'billion[4]',
  'country': 'United States'},
 {'title': 'The Fate of the Furious',
  'year': '2017',
  'director': 'F. Gary Gray',
  'box_office': '$1.236',
  'box_office_currency': 'billion[5]',
  'country': 'United States\nChina'},
 {'title': 'Iron Man 3',
  'year': '2013',
  'director': 'Shane Black',
  'box_office': '$1.216',
  'box_office_currency': 'billion[3]',
  'country': 'United States'},
 {'title': 'Minions',
  'year': '2015',
  'director': 'Pierre Coffin\nKyle Balda',
  'box_office': '$1.159',
  'box_office_currency': 'billion[4]',
  'country': 'United States'},
 {'title': 'Captain America: Civil War',
  'year': '2016',
  'director': 'Anthony RussoJoe Russo',
  'box_office': '$1.155',
  'box_office_currency': 'billion[4]',
  'country': 'United States'},
 {'title': 'Aquaman',
  'year': '2018',
  'director': 'James Wan',
  'box_office': '$1.152',
  'box_office_currency': 'billion[7]',
  'country': 'United States'},
 {'title': 'The Lord of the Rings: The Return of the King',
  'year': '2003',
  'director': 'Peter Jackson',
  'box_office': '$1.151',
  'box_office_currency': 'billion[4]',
  'country': 'New Zealand[1]\nGermany[3]\nUnited States[1]'},
 {'title': 'Spider-Man: Far From Home',
  'year': '2019',
  'director': 'Jon Watts',
  'box_office': '$1.133',
  'box_office_currency': 'billion[3]',
  'country': 'United States'},
 {'title': 'Captain Marvel',
  'year': '2019',
  'director': 'Anna BodenRyan Fleck',
  'box_office': '$1.131',
  'box_office_currency': 'billion[4]',
  'country': 'United States'},
 {'title': 'Transformers: Dark of the Moon',
  'year': '2011',
  'director': 'Michael Bay',
  'box_office': '$1.124',
  'box_office_currency': 'billion[7]',
  'country': 'United States'},
 {'title': 'Skyfall',
  'year': '2012',
  'director': 'Sam Mendes',
  'box_office': '$1.109',
  'box_office_currency': 'billion[5]',
  'country': 'United Kingdom[4]United States[1]'},
 {'title': 'Transformers: Age of Extinction',
  'year': '2014',
  'director': 'Michael Bay',
  'box_office': '$1.104',
  'box_office_currency': 'billion[4]',
  'country': 'United States'},
 {'title': 'The Dark Knight Rises',
  'year': '2012',
  'director': 'Christopher Nolan',
  'box_office': '$1.115',
  'box_office_currency': 'billion[4]',
  'country': 'United States[2]\nUnited Kingdom[2]'},
 {'title': 'Joker',
  'year': '2019',
  'director': 'Todd Phillips',
  'box_office': '$1.079',
  'box_office_currency': 'billion[2][3]',
  'country': 'United States'},
 {'title': 'Star Wars: The Rise of Skywalker',
  'year': '2019',
  'director': 'J. J. Abrams',
  'box_office': '$1.077',
  'box_office_currency': 'billion[3]',
  'country': 'United States'},
 {'title': 'Toy Story 4',
  'year': '2019',
  'director': 'Josh Cooley',
  'box_office': '$1.074',
  'box_office_currency': 'billion[3]',
  'country': 'United States'},
 {'title': 'Toy Story 3',
  'year': '2010',
  'director': 'Lee Unkrich',
  'box_office': '$1.067',
  'box_office_currency': 'billion[1]',
  'country': 'United States'},
 {'title': "Pirates of the Caribbean: Dead Man's Chest",
  'year': '2006',
  'director': 'Gore Verbinski',
  'box_office': '$1.066',
  'box_office_currency': 'billion[2]',
  'country': 'United States'},
 {'title': 'Rogue One: A Star Wars Story',
  'year': '2016',
  'director': 'Gareth Edwards',
  'box_office': '$1.059',
  'box_office_currency': 'billion[5]',
  'country': 'United States'},
 {'title': 'Aladdin',
  'year': '2019',
  'director': 'Guy Ritchie',
  'box_office': '$1.054',
  'box_office_currency': 'billion[6]',
  'country': 'United States'},
 {'title': 'Star Wars: Episode I – The Phantom Menace',
  'year': '1999',
  'director': 'George Lucas',
  'box_office': '$1.047',
  'box_office_currency': 'billion[3][4]',
  'country': 'United States'},
 {'title': 'Moana 2 †',
  'year': '2024',
  'director': 'David Derrick Jr.[1]\nJason Hand[1]\nDana Ledoux Miller[1]',
  'box_office': '$1.045',
  'box_office_currency': 'billion[5][6]',
  'country': 'United States'},
 {'title': 'Pirates of the Caribbean: On Stranger Tides',
  'year': '2011',
  'director': 'Rob Marshall',
  'box_office': '$1.046',
  'box_office_currency': 'billion[3]',
  'country': 'United States'},
 {'title': 'Jurassic Park',
  'year': '1993',
  'director': 'Steven Spielberg',
  'box_office': '$1.104',
  'box_office_currency': 'billion[4]',
  'country': 'United States'},
 {'title': 'Despicable Me 3',
  'year': '2017',
  'director': 'Pierre Coffin\nKyle Balda',
  'box_office': '$1.035',
  'box_office_currency': 'billion[5]',
  'country': 'United States'}]

In [193]:
df = pd.DataFrame(films)
df.head()

,title,year,director,box_office,box_office_currency,country
0,Avatar,2009,James Cameron,$2.923,billion[5],United Kingdom[2]\nUnited States[2]
1,Avengers: Endgame,2019,Anthony RussoJoe Russo,$2.799,billion[4],United States
2,Avatar: The Way of Water,2022,James Cameron,$2.320,billion[4][5],United States
3,Titanic,1997,James Cameron,$2.264,billion[7],United States
4,Star Wars: The Force Awakens,2015,J. J. Abrams,$2.07,billion[3],United States

In [195]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                50 non-null     object
 1   year                 50 non-null     object
 2   director             50 non-null     object
 3   box_office           50 non-null     object
 4   box_office_currency  50 non-null     object
 5   country              50 non-null     object
dtypes: object(6)
memory usage: 2.5+ KB

In [179]:
import re

In [221]:
for i, row in df.iterrows():
    for key, cell in row.to_dict().items():
        change = re.findall('\[.*.\]', cell)
        cell_ = cell
        for c in change:
            cell_ = cell_.replace(c, '')
        df.loc[df.index == i, key] = cell_

In [227]:
for i, text in enumerate(df['box_office']):
    t = text[text.find('$')+1:]
    df.loc[df.index == i, 'box_office'] = t

In [229]:
df['year'] = pd.to_numeric(df['year'], downcast='integer')
df['box_office'] = pd.to_numeric(df['box_office'], downcast='float')

In [230]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                50 non-null     object
 1   year                 50 non-null     int16
 2   director             50 non-null     object
 3   box_office           50 non-null     float32
 4   box_office_currency  50 non-null     object
 5   country              50 non-null     object
dtypes: float32(1), int16(1), object(4)
memory usage: 2.0+ KB

In [12]:
df = df.drop(['box_office_currency'], axis=1)

In [14]:
df.to_csv('films.csv', index=False)

In [15]:
df

,title,year,director,box_office,country
0,Avatar,2009,James Cameron,2.923,United Kingdom\nUnited States
1,Avengers: Endgame,2019,Anthony RussoJoe Russo,2.799,United States
2,Avatar: The Way of Water,2022,James Cameron,2.320,United States
3,Titanic,1997,James Cameron,2.264,United States
4,Star Wars: The Force Awakens,2015,J. J. Abrams,2.070,United States
5,Avengers: Infinity War,2018,Anthony RussoJoe Russo,2.052,United States
6,Spider-Man: No Way Home,2021,Jon Watts,1.953,United States
7,Inside Out 2,2024,Kelsey Mann,1.699,United States
8,Jurassic World,2015,Colin Trevorrow,1.671,United States
9,Ne Zha 2 †,2025,Jiaozi,1.660,China
10,The Lion King,2019,Jon Favreau,1.657,United States
11,The Avengers,2012,Joss Whedon,1.521,United States
12,Furious 7,2015,James Wan,1.515,United States China
13,Top Gun: Maverick,2022,Joseph Kosinski,1.496,United States
14,Frozen 2,2019,Chris Buck\nJennifer Lee,1.453,United States
15,Barbie,2023,Greta Gerwig,1.446,United States\nUnited Kingdom
16,Avengers: Age of Ultron,2015,Joss Whedon,1.405,United States
17,The Super Mario Bros. Movie,2023,Aaron Horvath\nMichael Jelenic,1.360,United States
18,Black Panther,2018,Ryan Coogler,1.350,United States
19,Harry Potter and the Deathly Hallows – Part 2,2011,David Yates,1.342,United Kingdom\nUnited States
20,Deadpool & Wolverine,2024,Shawn Levy,1.338,United States
21,Star Wars: The Last Jedi,2017,Rian Johnson,1.334,United States
22,Jurassic World: Fallen Kingdom,2018,J. A. Bayona,1.310,China\nUnited States
23,Frozen,2013,Chris Buck\nJennifer Lee,1.280,United States
24,Beauty and the Beast,2017,Bill Condon,1.266,United States
25,Incredibles 2,2018,Brad Bird,1.243,United States
26,The Fate of the Furious,2017,F. Gary Gray,1.236,United States\nChina
27,Iron Man 3,2013,Shane Black,1.216,United States
28,Minions,2015,Pierre Coffin\nKyle Balda,1.159,United States
29,Captain America: Civil War,2016,Anthony RussoJoe Russo,1.155,United States
30,Aquaman,2018,James Wan,1.152,United States
31,The Lord of the Rings: The Return of the King,2003,Peter Jackson,1.151,New Zealand\nGermany\nUnited States
32,Spider-Man: Far From Home,2019,Jon Watts,1.133,United States
33,Captain Marvel,2019,Anna BodenRyan Fleck,1.131,United States
34,Transformers: Dark of the Moon,2011,Michael Bay,1.124,United States
35,Skyfall,2012,Sam Mendes,1.109,United Kingdom
36,Transformers: Age of Extinction,2014,Michael Bay,1.104,United States
37,The Dark Knight Rises,2012,Christopher Nolan,1.115,United States\nUnited Kingdom
38,Joker,2019,Todd Phillips,1.079,United States
39,Star Wars: The Rise of Skywalker,2019,J. J. Abrams,1.077,United States
40,Toy Story 4,2019,Josh Cooley,1.074,United States
41,Toy Story 3,2010,Lee Unkrich,1.067,United States
42,Pirates of the Caribbean: Dead Man's Chest,2006,Gore Verbinski,1.066,United States
43,Rogue One: A Star Wars Story,2016,Gareth Edwards,1.059,United States
44,Aladdin,2019,Guy Ritchie,1.054,United States
45,Star Wars: Episode I – The Phantom Menace,1999,George Lucas,1.047,United States
46,Moana 2 †,2024,David Derrick Jr.\nJason Hand\nDana Ledoux Miller,1.045,United States
47,Pirates of the Caribbean: On Stranger Tides,2011,Rob Marshall,1.046,United States
48,Jurassic Park,1993,Steven Spielberg,1.104,United States
49,Despicable Me 3,2017,Pierre Coffin\nKyle Balda,1.035,United States

In [2]:
df = pd.read_csv('films.csv')

In [3]:
df.head()

,title,year,director,box_office,country
0,Avatar,2009,James Cameron,2.923,United Kingdom\nUnited States
1,Avengers: Endgame,2019,Anthony RussoJoe Russo,2.799,United States
2,Avatar: The Way of Water,2022,James Cameron,2.320,United States
3,Titanic,1997,James Cameron,2.264,United States
4,Star Wars: The Force Awakens,2015,J. J. Abrams,2.070,United States

In [9]:
df = df.replace('\n', ', ', regex=True)

In [20]:
df = df.replace('United States China', 'United States, China', regex=True)

In [21]:
df.to_csv('films.csv', index=False)

In [22]:
import sqlite3

In [23]:
connection = sqlite3.connect('films.db')
cursor = connection.cursor()

In [26]:
cursor.execute('DROP TABLE films')

In [27]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS films (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        title TEXT NOT NULL,
        release_year INTEGER,
        director TEXT,
        box_office REAL,
        country TEXT
    )
''')

In [28]:
req = 'INSERT INTO films (title, release_year, director, box_office, country) VALUES (?, ?, ?, ?, ?)'
for i, row in df.iterrows():
    cursor.execute(req, row.tolist())

In [29]:
cursor.execute('''
SELECT * FROM films 
''')
cursor.fetchall()

[(1, 'Avatar', 2009, 'James Cameron', 2.923, 'United Kingdom, United States'),
 (2,
  'Avengers: Endgame',
  2019,
  'Anthony RussoJoe Russo',
  2.799,
  'United States'),
 (3, 'Avatar: The Way of Water', 2022, 'James Cameron', 2.32, 'United States'),
 (4, 'Titanic', 1997, 'James Cameron', 2.264, 'United States'),
 (5,
  'Star Wars: The Force Awakens',
  2015,
  'J. J. Abrams',
  2.07,
  'United States'),
 (6,
  'Avengers: Infinity War',
  2018,
  'Anthony RussoJoe Russo',
  2.052,
  'United States'),
 (7, 'Spider-Man: No Way Home', 2021, 'Jon Watts', 1.953, 'United States'),
 (8, 'Inside Out 2', 2024, 'Kelsey Mann', 1.699, 'United States'),
 (9, 'Jurassic World', 2015, 'Colin Trevorrow', 1.671, 'United States'),
 (10, 'Ne Zha 2 †', 2025, 'Jiaozi', 1.66, 'China'),
 (11, 'The Lion King', 2019, 'Jon Favreau', 1.657, 'United States'),
 (12, 'The Avengers', 2012, 'Joss Whedon', 1.521, 'United States'),
 (13, 'Furious 7', 2015, 'James Wan', 1.515, 'United States, China'),
 (14, 'Top Gun: Maverick', 2022, 'Joseph Kosinski', 1.496, 'United States'),
 (15, 'Frozen 2', 2019, 'Chris Buck, Jennifer Lee', 1.453, 'United States'),
 (16, 'Barbie', 2023, 'Greta Gerwig', 1.446, 'United States, United Kingdom'),
 (17, 'Avengers: Age of Ultron', 2015, 'Joss Whedon', 1.405, 'United States'),
 (18,
  'The Super Mario Bros. Movie',
  2023,
  'Aaron Horvath, Michael Jelenic',
  1.36,
  'United States'),
 (19, 'Black Panther', 2018, 'Ryan Coogler', 1.35, 'United States'),
 (20,
  'Harry Potter and the Deathly Hallows – Part 2',
  2011,
  'David Yates',
  1.342,
  'United Kingdom, United States'),
 (21, 'Deadpool & Wolverine', 2024, 'Shawn Levy', 1.338, 'United States'),
 (22,
  'Star Wars: The Last Jedi',
  2017,
  'Rian Johnson',
  1.334,
  'United States'),
 (23,
  'Jurassic World: Fallen Kingdom',
  2018,
  'J. A. Bayona',
  1.31,
  'China, United States'),
 (24, 'Frozen', 2013, 'Chris Buck, Jennifer Lee', 1.28, 'United States'),
 (25, 'Beauty and the Beast', 2017, 'Bill Condon', 1.266, 'United States'),
 (26, 'Incredibles 2', 2018, 'Brad Bird', 1.243, 'United States'),
 (27,
  'The Fate of the Furious',
  2017,
  'F. Gary Gray',
  1.236,
  'United States, China'),
 (28, 'Iron Man 3', 2013, 'Shane Black', 1.216, 'United States'),
 (29, 'Minions', 2015, 'Pierre Coffin, Kyle Balda', 1.159, 'United States'),
 (30,
  'Captain America: Civil War',
  2016,
  'Anthony RussoJoe Russo',
  1.155,
  'United States'),
 (31, 'Aquaman', 2018, 'James Wan', 1.152, 'United States'),
 (32,
  'The Lord of the Rings: The Return of the King',
  2003,
  'Peter Jackson',
  1.151,
  'New Zealand, Germany, United States'),
 (33, 'Spider-Man: Far From Home', 2019, 'Jon Watts', 1.133, 'United States'),
 (34, 'Captain Marvel', 2019, 'Anna BodenRyan Fleck', 1.131, 'United States'),
 (35,
  'Transformers: Dark of the Moon',
  2011,
  'Michael Bay',
  1.124,
  'United States'),
 (36, 'Skyfall', 2012, 'Sam Mendes', 1.109, 'United Kingdom'),
 (37,
  'Transformers: Age of Extinction',
  2014,
  'Michael Bay',
  1.104,
  'United States'),
 (38,
  'The Dark Knight Rises',
  2012,
  'Christopher Nolan',
  1.115,
  'United States, United Kingdom'),
 (39, 'Joker', 2019, 'Todd Phillips', 1.079, 'United States'),
 (40,
  'Star Wars: The Rise of Skywalker',
  2019,
  'J. J. Abrams',
  1.077,
  'United States'),
 (41, 'Toy Story 4', 2019, 'Josh Cooley', 1.074, 'United States'),
 (42, 'Toy Story 3', 2010, 'Lee Unkrich', 1.067, 'United States'),
 (43,
  "Pirates of the Caribbean: Dead Man's Chest",
  2006,
  'Gore Verbinski',
  1.066,
  'United States'),
 (44,
  'Rogue One: A Star Wars Story',
  2016,
  'Gareth Edwards',
  1.059,
  'United States'),
 (45, 'Aladdin', 2019, 'Guy Ritchie', 1.054, 'United States'),
 (46,
  'Star Wars: Episode I – The Phantom Menace',
  1999,
  'George Lucas',
  1.047,
  'United States'),
 (47,
  'Moana 2 †',
  2024,
  'David Derrick Jr., Jason Hand, Dana Ledoux Miller',
  1.045,
  'United States'),
 (48,
  'Pirates of the Caribbean: On Stranger Tides',
  2011,
  'Rob Marshall',
  1.046,
  'United States'),
 (49, 'Jurassic Park', 1993, 'Steven Spielberg', 1.104, 'United States'),
 (50,
  'Despicable Me 3',
  2017,
  'Pierre Coffin, Kyle Balda',
  1.035,
  'United States')]

In [30]:
# save updates and close db connection
connection.commit()
connection.close()

In [31]:
!sqlite3 films.db '.mode json' '.once films_ready.json' 'SELECT * FROM films'